@charset "ISO-8859-1";
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: #F3DCDC;
}
form{
	margin-left: 500px;
	margin-top: 90px;


}
label{
	font-size: 20px;
	margin-right: 20px;
	padding-top: 10px;
	color: black; font-weight: bold; padding: 15px;
	
}
input{
	
	font-size: 20px;
	padding-top: 10px;
	margin-topt: 10px;
	color: #a2a2a2; font-weight: bold; padding: 15px; border: 2px solid #d8d8d8; border-radius: 6px;
	
}
#registrar{
		
margin-left: 200px;
background-color: red;
margin-top: 10px;

	}